<h1>File name: <span><%= file.fileName %></span></h1>
<form action="/file/edit/udpate" method="POST" title="New file">
    <input type="hidden" value="<%= file.id %>" name="file-id" id="file-id" />
    <label for="file-content">File content:</label>
    <textarea
        name="file-content" id="file-content" disabled><%= file.content %></textarea>
    <br />
    <strong id="lock-text"> This file is being edited by another user for now, please try another time.</strong>
    <br />
    <input id="edit-submit-btn" type="submit" value="Save" disabled />
</form>

<script>
    const fileId = document.querySelector("#file-id").value

    function throttle(func, wait = 0) {
        let latestInvokeTime = Date.now()
        return () => {
            const now = Date.now()
            if (now - latestInvokeTime >= wait) {
                latestInvokeTime = now
                func()
            }
        }
    }
    function unlock() {
        document.querySelector("#lock-text").remove()
        document.querySelector("#edit-submit-btn").removeAttribute("disabled")
        const textareaEl = document.querySelector("#file-content")
        textareaEl.removeAttribute("disabled")
        textareaEl.addEventListener("input", throttle(tryAcquireFileLock, 30 * 1000))
    }

    async function tryAcquireFileLock() {
        const renewResponse = await fetch(`/file/edit/renew-lease/${fileId}`)
        const file = await renewResponse.json()
        console.log(file)
    }
</script>

<% if(file.isEditable) { %>
    <script>
        unlock()
    </script>
<% } else { %>
    <script>
    </script>
<% } %>

